<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Title Page</title>
  <!-- CSS resource load -->
  <!-- Library -->
  <link href="../static/lib/css/hinted-NanumSquare.css" rel="stylesheet">
  <link href="../static/lib/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/lib/css/bootstrap-datepicker.standalone.css" rel="stylesheet">
  <link href="../static/lib/css/slick.css" rel="stylesheet">
  <link href="../static/lib/css/reset.css" rel="stylesheet">
  <!-- Custom -->
  <link href="../static/css/cart_rider_vr_style.css" rel="stylesheet">
  <!-- //CSS resource load -->
</head>

<body class="sub">
  <!-- Document -->
  <div class="wrapper">
    <!-- Header -->
    <div class="header-wrap">
      <div class="header">
        <div class="header-top">
          <h1 class="header-logo">
            <a href="#"><img src="../static/images/logo-header.png" alt></a>
          </h1>
          <!-- gnb -->
          <div class="gnb">
            <ul>
              <li><a href="#"><span>서비스소개</span></a>
                <ul>
                  <li><a href="#">카트라이더VR</a></li>
                  <li><a href="#">스토어찾기</a></li>
                </ul>
              </li>
              <li><a href="#"><span>게시판</span></a>
                <ul>
                  <li><a href="#">공지사항</a></li>
                  <li><a href="#">랭킹보기</a></li>
                </ul>
              </li>
              <li><a href="#"><span>마이스토어</span></a>
                <ul>
                  <li><a href="#">스토어관리</a></li>
                  <li><a href="#">상품구매</a></li>
                  <li><a href="#">보유/사용내역</a></li>
                  <li><a href="#">결제관리</a></li>
                  <li><a href="#">운영통계</a></li>
                </ul>
              </li>
              <li><a href="#"><span>고객센터</span></a>
                <ul>
                  <li><a href="#">자주하는 질문</a></li>
                  <li><a href="#">1:1문의하기</a></li>
                  <li><a href="#">내 문의내역</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- //gnb -->
          <div class="gnb-bg">
            <h2 class="gnb-logo">
              <img src="../static/images/logo-gnb.png" alt>
            </h2>
          </div>
        </div>
      </div>
    </div>
    <!-- //Header -->
    <!-- Content -->
    <div class="content-wrap">
      <div class="content">
        <div class="sub-content">
          <!-- Page top -->
          <div class="page-top">
            <h2 class="page-title">아이디 찾기</h2>
            <div class="page-navigation">
              <ul>
                <li>홈</li>
                <li>로그인</li>
                <li><strong>아이디 찾기</strong></li>
              </ul>
            </div>
            <div class="page-top-visual" style="background-image:url(../static/images/img-sub-top-visual.png);">
            </div>
          </div>
          <!-- //Page top -->
          <h3 class="text-center"><i class="icon-title"></i>안전한 서비스 사용 환경과<br>소중한 정보보호를 위해서 본인인증이 필요합니다.</h3>
          <p class="text-center">※ 고객님 명의의 휴대전화를 통해 무료로 진행됩니다.</p>

          <div class="page-bottom-btns">
            <button class="btn-dark-blue">본인인증하기</button>
          </div>
          <!-- Top Button -->
          <button class="btn-top">
            <i></i>
            <span>TOP</span>
          </button>
          <!-- //Top Button -->
        </div>
      </div>
    </div>
    <!-- //Content -->
    <!-- Footer -->
    <div class="footer-wrap">
      <div class="footer">
        <h2 class="footer-logo">
          <img src="../static/images/logo-footer.png" alt>
        </h2>
        <div class="footer-info">
          <div class="footer-menu">
            <ul>
              <li><a href="#">개인정보처리방침</a></li>
              <li><a href="#">서비스이용약관</a></li>
              <li><a href="#">사이트맵</a></li>
            </ul>
          </div>
          <div class="address">서울특별시 강남구 테헤란로 234길 스페이스 빌딩 5층 카트라이더 VR 본사</div>
          <div class="copyright">copyright&copy; All reserved by 카트라이더VR본사</div>
        </div>
      </div>
    </div>
    <!-- //Footer -->
  </div>
  <!-- //Document -->
  <!-- Popup -->
  <!-- 가입 심사중 팝업 -->
  <div class="modal fade modal-login" id="modalNoAccount" role="dialog" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog narrow" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <p class="modal-message">
            해당 정보로 등록된<br>스토어 계정이 없습니다.
          </p>
        </div>
        <div class="modal-footer">
          <button class="btn-dark-blue" data-dismiss="modal" type="button">확인</button>
        </div>
        <!-- <button class="close" data-dismiss="modal" type="button" aria-label="Close"></button> -->
      </div>
    </div>
  </div>
  <!-- //가입 심사중 팝업 -->
  <!-- //Popup -->
  <!-- JS resource load -->
  <!-- Library -->
  <script src="../static/lib/js/jquery-1.12.4.min.js "></script>
  <script src="../static/lib/js/jquery-ui.js"></script>
  <script src="../static/lib/js/bootstrap.min.js "></script>
  <script src="../static/lib/js/bootstrap-datepicker.js "></script>
  <script src="../static/lib/js/popper.min.js "></script>
  <script src="../static/lib/js/slick.min.js "></script>
  <!-- Custom -->
  <script src="../static/js/cart_rider_vr_script.js "></script>
  <!-- document ready script -->
  <script>
    $(function () {
      $('#modalNoAccount').modal();
    })
  </script>
  <!-- //document ready script -->
</body>

</html>