<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Title Page</title>
  <!-- CSS resource load -->
  <!-- Library -->
  <link href="../static/lib/css/nanumsquare.css" rel="stylesheet">
  <link href="../static/lib/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/lib/css/bootstrap-datepicker.standalone.css" rel="stylesheet">
  <link href="../static/lib/css/reset.css" rel="stylesheet">
  <!-- Custom -->
  <link href="../static/css/cart_rider_vr_style.css" rel="stylesheet">
  <!-- //CSS resource load -->
</head>
<body>
  <!-- Document -->
  <div class="wrapper">
    <div class="header-wrap">
      <div class="header">
        <div class="header-top"></div>
        <div class="header-bottom"></div>
      </div>
    </div>
    <div class="content-wrap">
      <div class="content"></div>
    </div>
    <div class="footer-wrap">
      <div class="footer"></div>
    </div>
  </div>
  <!-- //Document -->
  <!-- JS resource load -->
  <!-- Library -->
  <script src="../static/lib/js/jquery-1.12.4.min.js "></script>
  <script src="../static/lib/js/jquery-ui.js"></script>
  <script src="../static/lib/js/bootstrap.min.js "></script>
  <script src="../static/lib/js/bootstrap-datepicker.js "></script>
  <script src="../static/lib/js/popper.min.js "></script>
  <!-- Custom -->
  <script src="../static/js/cart_rider_vr_script.js "></script>
  <!-- document ready script -->
  <!-- //document ready script -->
</body>
</html>