<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Title Page</title>
  <!-- CSS resource load -->
  <!-- Library -->
  <link href="../static/lib/css/hinted-NanumSquare.css" rel="stylesheet">
  <link href="../static/lib/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/lib/css/bootstrap-datepicker.standalone.css" rel="stylesheet">
  <link href="../static/lib/css/slick.css" rel="stylesheet">
  <link href="../static/lib/css/reset.css" rel="stylesheet">
  <!-- Custom -->
  <link href="../static/css/cart_rider_vr_style.css" rel="stylesheet">
  <!-- //CSS resource load -->
</head>
<body class="sub">
  <!-- Document -->
  <div class="wrapper">
    <!-- Header -->
    <div class="header-wrap">
      <div class="header">
        <div class="header-top">
          <h1 class="header-logo">
            <a href="#"><img src="../static/images/logo-header.png" alt></a>
          </h1>
          <!-- gnb -->
          <div class="gnb">
            <ul>
              <li><a href="#"><span>서비스소개</span></a>
                <ul>
                  <li><a href="#">카트라이더VR</a></li>
                  <li><a href="#">스토어찾기</a></li>
                </ul>
              </li>
              <li><a href="#"><span>게시판</span></a>
                <ul>
                  <li><a href="#">공지사항</a></li>
                  <li><a href="#">랭킹보기</a></li>
                </ul>
              </li>
              <li><a href="#"><span>마이스토어</span></a>
                <ul>
                  <li><a href="#">스토어관리</a></li>
                  <li><a href="#">상품구매</a></li>
                  <li><a href="#">보유/사용내역</a></li>
                  <li><a href="#">결제관리</a></li>
                  <li><a href="#">운영통계</a></li>
                </ul>
              </li>
              <li><a href="#"><span>고객센터</span></a>
                <ul>
                  <li><a href="#">자주하는 질문</a></li>
                  <li><a href="#">1:1문의하기</a></li>
                  <li><a href="#">내 문의내역</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- //gnb -->
          <div class="gnb-bg">
            <h2 class="gnb-logo">
              <img src="../static/images/logo-gnb.png" alt>
            </h2>
          </div>
        </div>
      </div>
    </div>
    <!-- //Header -->
    <!-- Content -->
    <div class="content-wrap">
      <div class="content">
        <div class="sub-content">
          <!-- Page top -->
          <div class="page-top">
            <h2 class="page-title">상품구매</h2>
            <div class="page-navigation">
              <ul>
                <li>홈</li>
                <li>마이스토어</li>
                <li><strong>상품구매</strong></li>
              </ul>
            </div>
            <div class="page-top-visual" style="background-image:url(../static/images/img-sub-top-visual.png);">
            </div>
          </div>
          <!-- //Page top -->
          <div class="board-list">
            <table>
              <colgroup>
                <col style="width:120px;">
                <col style="width:auto;">
                <col style="width:200px;">
              </colgroup>
              <thead>
                <tr>
                  <th>선택</th>
                  <th>상품명</th>
                  <th>가격</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="input-wrap radio"><input id="selProdRadio1" name="selProdRadio" type="radio" onchange="$('.tr-info').hide();$(this).parents('tr').next('tr').toggle();"></div>
                  </td>
                  <td><strong>플레이포인트 300,000점</strong></td>
                  <td><strong>330,000원 (VAT 포함)</strong></td>
                </tr>
                <tr class="tr-info" style="display:none;">
                  <td></td>
                  <td colspan="2">
                    <div class="prod-info">
                      <h4>상품설명</h4>
                      <ul class="text-left">
                        <li>- 해당 이벤트는 안드로이드, 아이폰을 사용하는 넥슨 고객이라면 누구나 참여할 수 있습니다.
                        </li>
                        <li>- 넥슨플레이 바코드캐시충전은 CU, 세븐일레븐, 미니스톱, GS25, 펀플 PC방에서 충전할 수 있습
                          니다.</li>
                        <li>- 첫 충전 이벤트 대상자는 넥슨플레이로 바코드캐시충전을 처음 이용한 고객으로, 넥슨플레이가
                          이미 설치된 고객이라도, 바코드캐시충전이 처음이라면 얼마든지 참여할 수 있습니다.</li>
                        <li>- 첫 충전 이벤트의 넥슨캐시 1천원은 충전과 동시에 자동 지급됩니다.</li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="input-wrap radio"><input id="selProdRadio2" name="selProdRadio" type="radio" onchange="$('.tr-info').hide();$(this).parents('tr').next('tr').toggle();"></div>
                  </td>
                  <td><strong>플레이포인트 500,000점</strong></td>
                  <td><strong>550,000원 (VAT 포함)</strong></td>
                </tr>
                <tr class="tr-info" style="display:none;">
                  <td></td>
                  <td colspan="2">
                    <div class="prod-info">
                      <h4>상품설명</h4>
                      <ul class="text-left">
                        <li>- 해당 이벤트는 안드로이드, 아이폰을 사용하는 넥슨 고객이라면 누구나 참여할 수 있습니다.
                        </li>
                        <li>- 넥슨플레이 바코드캐시충전은 CU, 세븐일레븐, 미니스톱, GS25, 펀플 PC방에서 충전할 수 있습
                          니다.</li>
                        <li>- 첫 충전 이벤트 대상자는 넥슨플레이로 바코드캐시충전을 처음 이용한 고객으로, 넥슨플레이가
                          이미 설치된 고객이라도, 바코드캐시충전이 처음이라면 얼마든지 참여할 수 있습니다.</li>
                        <li>- 첫 충전 이벤트의 넥슨캐시 1천원은 충전과 동시에 자동 지급됩니다.</li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="input-wrap radio"><input id="selProdRadio3" name="selProdRadio" type="radio" onchange="$('.tr-info').hide();$(this).parents('tr').next('tr').toggle();"></div>
                  </td>
                  <td><strong>플레이포인트 1,000,000점</strong></td>
                  <td><strong>1,100,000원 (VAT 포함)</strong></td>
                </tr>
                <tr class="tr-info" style="display:none;">
                  <td></td>
                  <td colspan="2">
                    <div class="prod-info">
                      <h4>상품설명</h4>
                      <ul class="text-left">
                        <li>- 해당 이벤트는 안드로이드, 아이폰을 사용하는 넥슨 고객이라면 누구나 참여할 수 있습니다.
                        </li>
                        <li>- 넥슨플레이 바코드캐시충전은 CU, 세븐일레븐, 미니스톱, GS25, 펀플 PC방에서 충전할 수 있습
                          니다.</li>
                        <li>- 첫 충전 이벤트 대상자는 넥슨플레이로 바코드캐시충전을 처음 이용한 고객으로, 넥슨플레이가
                          이미 설치된 고객이라도, 바코드캐시충전이 처음이라면 얼마든지 참여할 수 있습니다.</li>
                        <li>- 첫 충전 이벤트의 넥슨캐시 1천원은 충전과 동시에 자동 지급됩니다.</li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Agree area -->
          <div class="agree-area">
            <div class="agree-form text-center agree-all">
              <div class="input-wrap check"><label for="checkAgreeAll"><input id="checkAgreeAll" name type="checkbox"><span><a class="font-dark-blue underline" href="#"><strong>상품 결제약관</strong></a>에 동의합니다.</span></label></div>
            </div>
          </div>
          <!-- //Agree area -->
          <div class="page-bottom-btns">
            <button class="btn-dark-blue">결제하기</button>
            <button class="btn-dark-blue">자동결제신청</button>
          </div>
          <!-- Top Button -->
          <button class="btn-top">
            <i></i>
            <span>TOP</span>
          </button>
          <!-- //Top Button -->
        </div>
      </div>
    </div>
    <!-- //Content -->
    <!-- Footer -->
    <div class="footer-wrap">
      <div class="footer">
        <h2 class="footer-logo">
          <img src="../static/images/logo-footer.png" alt>
        </h2>
        <div class="footer-info">
          <div class="footer-menu">
            <ul>
              <li><a href="#">개인정보처리방침</a></li>
              <li><a href="#">서비스이용약관</a></li>
              <li><a href="#">사이트맵</a></li>
            </ul>
          </div>
          <div class="address">서울특별시 강남구 테헤란로 234길 스페이스 빌딩 5층 카트라이더 VR 본사</div>
          <div class="copyright">copyright&copy; All reserved by 카트라이더VR본사</div>
        </div>
      </div>
    </div>
    <!-- //Footer -->
  </div>
  <!-- //Document -->
  <!-- Popup -->
  <!-- 약관확인 팝업 -->
  <div class="modal fade modal-login" id="modalAgreeCheck" role="dialog" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog narrow" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <p class="modal-message">
            상품 결제약관에 동의해야<br>결제가 가능합니다.<br>약관을 확인하시고 동의해주세요.
          </p>
        </div>
        <div class="modal-footer">
          <button class="btn-dark-blue" data-dismiss="modal" type="button">확인</button>
        </div>
        <!-- <button class="close" data-dismiss="modal" type="button" aria-label="Close"></button> -->
      </div>
    </div>
  </div>
  <!-- //약관확인 팝업 -->
  <!-- //Popup -->
  <!-- JS resource load -->
  <!-- Library -->
  <script src="../static/lib/js/jquery-1.12.4.min.js "></script>
  <script src="../static/lib/js/jquery-ui.js"></script>
  <script src="../static/lib/js/bootstrap.min.js "></script>
  <script src="../static/lib/js/bootstrap-datepicker.js "></script>
  <script src="../static/lib/js/popper.min.js "></script>
  <script src="../static/lib/js/slick.min.js "></script>
  <!-- Custom -->
  <script src="../static/js/cart_rider_vr_script.js "></script>
  <!-- document ready script -->
  <script>
    $(function () {
      $('#modalAgreeCheck').modal();
    });
  </script>
  <!-- //document ready script -->
</body>
</html>