<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Title Page</title>
  <!-- CSS resource load -->
  <!-- Library -->
  <link href="../static/lib/css/nanumsquare.css" rel="stylesheet">
  <link href="../static/lib/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/lib/css/bootstrap-datepicker.standalone.css" rel="stylesheet">
  <link href="../static/lib/css/slick.css" rel="stylesheet">
  <link href="../static/lib/css/reset.css" rel="stylesheet">
  <!-- Custom -->
  <link href="../static/css/cart_rider_vr_style.css" rel="stylesheet">
  <!-- //CSS resource load -->
</head>

<body class="main">
  <!-- Document -->
  <div class="wrapper">
    <!-- Header -->
    <div class="header-wrap">
      <div class="header">
        <div class="header-top">
          <h1 class="header-logo"><a href="#"><img src="../static/images/logo-header.png" alt></a></h1>
          <!-- gnb -->
          <div class="gnb">
            <ul>
              <li><a href="#"><span>서비스소개</span></a>
                <ul>
                  <li><a href="#">카트라이더VR</a></li>
                  <li><a href="#">스토어찾기</a></li>
                </ul>
              </li>
              <li><a href="#"><span>게시판</span></a>
                <ul>
                  <li><a href="#">공지사항</a></li>
                  <li><a href="#">랭킹보기</a></li>
                </ul>
              </li>
              <li><a href="#"><span>마이스토어</span></a>
                <ul>
                  <li><a href="#">스토어관리</a></li>
                  <li><a href="#">상품구매</a></li>
                  <li><a href="#">보유/사용내역</a></li>
                  <li><a href="#">결제관리</a></li>
                  <li><a href="#">운영통계</a></li>
                </ul>
              </li>
              <li><a href="#"><span>고객센터</span></a>
                <ul>
                  <li><a href="#">자주하는 질문</a></li>
                  <li><a href="#">1:1문의하기</a></li>
                  <li><a href="#">내 문의내역</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- //gnb -->
          <div class="gnb-bg">
            <h2 class="gnb-logo">
              <img src="../static/images/logo-gnb.png" alt>
            </h2>
          </div>
        </div>
      </div>
    </div>
    <!-- //Header -->
    <!-- Content -->
    <div class="content-wrap">
      <div class="content">
        <div class="main-content">
          <div class="main-row">
            <div class="main-left">
              <!-- Main-visual -->
              <div class="main-visual">
                <div class="visual-slides">
                  <div class="slide" style="background-image:url(../static/images/sample-main-visual.png);"><a href="#"></a></div>
                  <div class="slide" style="background-image:url(../static/images/sample-main-visual.png);"><a href="#"></a></div>
                  <div class="slide" style="background-image:url(../static/images/sample-main-visual.png);"><a href="#"></a></div>
                </div>
              </div>
              <!-- //Main-visual -->
            </div>
            <div class="main-right">
              <!-- Login info -->
              <div class="login-info">
                <div class="info-box">
                  <div class="info-text">
                    <div class="login-name">
                      <strong>"<span class="font-dark-blue">매장명</span>"님</strong> 안녕하세요~!
                    </div>
                    <div class="info-data">
                      <dl>
                        <dt>포인트 : </dt>
                        <dd><a class="font-dark-blue" href="#">300,000</a>점<a class="font-dark-blue btn-buy" href="#">상품구매</a></dd>
                      </dl>
                      <dl>
                        <dt>내 문의 : </dt>
                        <dd><a class="font-dark-blue" href="#">0</a>건</dd>
                      </dl>
                    </div>
                  </div>
                  <div class="profile-img">
                    <div class="pic" style="background-image:url(../static/images/sample-main-visual.png);"></div>
                    <button class="btn-logout btn-dark-blue">로그아웃</button>
                  </div>
                </div>
                <!-- IP Info -->
                <div class="ip-info">
                  <dl>
                    <dt>접속 IP</dt>
                    <dd>111.111.111.111</dd>
                  </dl>
                  <a href="#">IP관리</a>
                </div>
                <!-- //IP Info -->
              </div>
              <!-- //Login info -->
            </div>
          </div>
          <div class="main-row">
            <div class="main-left">
              <div class="main-boxs quick-menu row">
                <!-- Main Boxs -->
                <div class="main-box col-sm-4">
                  <a href="#">
                    <h3>상품구매</h3>
                    <i class="icon-shop"><img src="../static/images/icon-main-shop.png" alt></i>
                  </a>
                </div>
                <div class="main-box col-sm-4">
                  <a href="#">
                    <h3>상품보유내역</h3>
                    <i class="icon-bag"><img src="../static/images/icon-main-bag.png" alt></i>
                  </a>
                </div>
                <div class="main-box col-sm-4">
                  <a href="#">
                    <h3>결제관리</h3>
                    <i class="icon-payment"><img src="../static/images/icon-main-payment.png" alt></i>
                  </a>
                </div>
                <div class="main-box col-sm-4">
                  <a href="#">
                    <h3>운영통계</h3>
                    <i class="icon-statistics"><img src="../static/images/icon-main-statistics.png" alt></i>
                  </a>
                </div>
                <div class="main-box col-sm-8 blue-box">
                  <div class="cs-center">
                    <h3>고객센터 <em>0555.252.1234</em></h3>
                    <dl>
                      <dt>팩스</dt>
                      <dd>0555.555.5555</dd>
                    </dl>
                    <dl>
                      <dt>운영시간</dt>
                      <dd>평일 10시 ~ 13시 / 14시 ~ 18시</dd>
                    </dl>
                  </div>
                </div>
                <!-- //Main Boxs -->
              </div>
            </div>
            <div class="main-right">
              <!-- Ranking -->
              <div class="total-ranking">
                <h3>전체랭킹</h3>
                <div class="control-box">
                  <button class="btn-prev"></button>
                  <h4>포레스트 트랙</h4>
                  <button class="btn-next"></button>
                </div>
                <ul>
                  <li>
                    <span class="rank"><img src="../static/images/icon-main-rank-1.png" alt="1위"></span>
                    <span class="id">아이디1</span>
                    <span class="time">00분 00초 00</span>
                  </li>
                  <li>
                    <span class="rank"><img src="../static/images/icon-main-rank-2.png" alt="1위"></span>
                    <span class="id">아이디2</span>
                    <span class="time">00분 00초 00</span>
                  </li>
                  <li>
                    <span class="rank"><img src="../static/images/icon-main-rank-3.png" alt="1위"></span>
                    <span class="id">아이디3</span>
                    <span class="time">00분 00초 00</span>
                  </li>
                  <li>
                    <span class="rank">4위</span>
                    <span class="id">아이디4</span>
                    <span class="time">00분 00초 00</span>
                  </li>
                  <li>
                    <span class="rank">5위</span>
                    <span class="id">아이디5</span>
                    <span class="time">00분 00초 00</span>
                  </li>
                  <li>
                    <span class="rank">6위</span>
                    <span class="id">아이디6</span>
                    <span class="time">00분 00초 00</span>
                  </li>
                  <li>
                    <span class="rank">7위</span>
                    <span class="id">아이디7</span>
                    <span class="time">00분 00초 00</span>
                  </li>
                  <li>
                    <span class="rank">8위</span>
                    <span class="id">아이디8</span>
                    <span class="time">00분 00초 00</span>
                  </li>
                </ul>
              </div>
              <!-- //Ranking -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- //Content -->
    <!-- Footer -->
    <div class="footer-wrap">
      <div class="footer">
        <h2 class="footer-logo">
          <img src="../static/images/logo-footer.png" alt>
        </h2>
        <div class="footer-info">
          <div class="footer-menu">
            <ul>
              <li><a href="#">개인정보처리방침</a></li>
              <li><a href="#">서비스이용약관</a></li>
              <li><a href="#">사이트맵</a></li>
            </ul>
          </div>
          <div class="address">서울특별시 강남구 테헤란로 234길 스페이스 빌딩 5층 카트라이더 VR 본사</div>
          <div class="copyright">copyright&copy; All reserved by 카트라이더VR본사</div>
        </div>
      </div>
    </div>
    <!-- //Footer -->
  </div>
  <!-- //Document -->
  <!-- Popup -->
  <!-- //Popup -->
  <!-- JS resource load -->
  <!-- Library -->
  <script src="../static/lib/js/jquery-1.12.4.min.js "></script>
  <script src="../static/lib/js/jquery-ui.js"></script>
  <script src="../static/lib/js/bootstrap.min.js "></script>
  <script src="../static/lib/js/bootstrap-datepicker.js "></script>
  <script src="../static/lib/js/popper.min.js "></script>
  <script src="../static/lib/js/slick.min.js "></script>
  <!-- Custom -->
  <script src="../static/js/cart_rider_vr_script.js "></script>
  <!-- document ready script -->
  <script>
  </script>
  <!-- //document ready script -->
</body>

</html>