<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Title Page</title>
  <!-- CSS resource load -->
  <!-- Library -->
  <link href="../static/lib/css/hinted-NanumSquare.css" rel="stylesheet">
  <link href="../static/lib/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/lib/css/bootstrap-datepicker.standalone.css" rel="stylesheet">
  <link href="../static/lib/css/slick.css" rel="stylesheet">
  <link href="../static/lib/css/reset.css" rel="stylesheet">
  <!-- Custom -->
  <link href="../static/css/cart_rider_vr_style.css" rel="stylesheet">
  <!-- //CSS resource load -->
</head>
<body class="sub">
  <!-- Document -->
  <div class="wrapper">
    <!-- Header -->
    <div class="header-wrap">
      <div class="header">
        <div class="header-top">
          <h1 class="header-logo">
            <a href="#"><img src="../static/images/logo-header.png" alt></a>
          </h1>
          <!-- gnb -->
          <div class="gnb">
            <ul>
              <li><a href="#"><span>서비스소개</span></a>
                <ul>
                  <li><a href="#">카트라이더VR</a></li>
                  <li><a href="#">스토어찾기</a></li>
                </ul>
              </li>
              <li><a href="#"><span>게시판</span></a>
                <ul>
                  <li><a href="#">공지사항</a></li>
                  <li><a href="#">랭킹보기</a></li>
                </ul>
              </li>
              <li><a href="#"><span>마이스토어</span></a>
                <ul>
                  <li><a href="#">스토어관리</a></li>
                  <li><a href="#">상품구매</a></li>
                  <li><a href="#">보유/사용내역</a></li>
                  <li><a href="#">결제관리</a></li>
                  <li><a href="#">운영통계</a></li>
                </ul>
              </li>
              <li><a href="#"><span>고객센터</span></a>
                <ul>
                  <li><a href="#">자주하는 질문</a></li>
                  <li><a href="#">1:1문의하기</a></li>
                  <li><a href="#">내 문의내역</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- //gnb -->
          <div class="gnb-bg">
            <h2 class="gnb-logo">
              <img src="../static/images/logo-gnb.png" alt>
            </h2>
          </div>
        </div>
      </div>
    </div>
    <!-- //Header -->
    <!-- Content -->
    <div class="content-wrap">
      <div class="content">
        <div class="sub-content">
          <!-- Page top -->
          <div class="page-top">
            <h2 class="page-title">고객센터</h2>
            <div class="page-navigation">
              <ul>
                <li>홈</li>
                <li>게시판</li>
                <li><strong>고객센터</strong></li>
              </ul>
            </div>
            <div class="page-top-visual" style="background-image:url(../static/images/img-sub-top-visual.png);">
            </div>
          </div>
          <!-- //Page top -->
          <div class="page-tabs">
            <ul>
              <li class="on"><a href="#"><span>자주하는 질문</span></a></li>
              <li><a href="#"><span>1:1 문의하기</span></a></li>
              <li><a href="#"><span>내 문의내역</span></a></li>
            </ul>
          </div>
          <!-- board -->
          <div class="board-list">
            <div class="board-list-top">
              <div class="board-list-top-left">
                <div class="input-group">
                  <div class="input-wrap select">
                    <select id name>
                      <option value="">전체</option>
                    </select>
                  </div>
                  <button>조회</button>
                </div>
              </div>
              <div class="board-list-top-right">
                <div class="search"><input id name type="text"><button></button></div>
              </div>
            </div>
            <table>
              <colgroup>
                <col style="width:120px;">
                <col style="width:auto;">
                <col style="width:auto;">
                <col style="width:auto;">
                <col style="width:auto;">
                <col style="width:auto;">
                <col style="width:auto;">
              </colgroup>
              <thead>
                <tr>
                  <th>번호</th>
                  <th>사용기기</th>
                  <th>사용일시</th>
                  <th>라이더1P</th>
                  <th>라이더2P</th>
                  <th>사용 시간</th>
                  <th>사용 포인트</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="data-loading" colspan="7">
                    <i class="icon-loading">
                      <img src="../static/images/img-loading.png" alt>
                    </i>
                    <p>데이터를 조회중입니다.</p>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- <div class="paging">
              <button class="btn-first"></button>
              <button class="btn-prev"></button>
              <a class="on" href="#">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <a href="#">5</a>
              <a href="#">6</a>
              <a href="#">7</a>
              <a href="#">8</a>
              <a href="#">9</a>
              <a href="#">10</a>
              <button class="btn-next"></button>
              <button class="btn-last"></button>
            </div> -->
          </div>
          <!-- //board -->
          <!-- Top Button -->
          <button class="btn-top">
            <i></i>
            <span>TOP</span>
          </button>
          <!-- //Top Button -->
        </div>
      </div>
    </div>
    <!-- //Content -->
    <!-- Footer -->
    <div class="footer-wrap">
      <div class="footer">
        <h2 class="footer-logo">
          <img src="../static/images/logo-footer.png" alt>
        </h2>
        <div class="footer-info">
          <div class="footer-menu">
            <ul>
              <li><a href="#">개인정보처리방침</a></li>
              <li><a href="#">서비스이용약관</a></li>
              <li><a href="#">사이트맵</a></li>
            </ul>
          </div>
          <div class="address">서울특별시 강남구 테헤란로 234길 스페이스 빌딩 5층 카트라이더 VR 본사</div>
          <div class="copyright">copyright&copy; All reserved by 카트라이더VR본사</div>
        </div>
      </div>
    </div>
    <!-- //Footer -->
  </div>
  <!-- //Document -->
  <!-- Popup -->
  <!-- //Popup -->
  <!-- JS resource load -->
  <!-- Library -->
  <script src="../static/lib/js/jquery-1.12.4.min.js "></script>
  <script src="../static/lib/js/jquery-ui.js"></script>
  <script src="../static/lib/js/bootstrap.min.js "></script>
  <script src="../static/lib/js/bootstrap-datepicker.js "></script>
  <script src="../static/lib/js/popper.min.js "></script>
  <script src="../static/lib/js/slick.min.js "></script>
  <!-- Custom -->
  <script src="../static/js/cart_rider_vr_script.js "></script>
  <!-- document ready script -->
  <script>
    $(function () { });
  </script>
  <!-- //document ready script -->
</body>
</html>