<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Title Page</title>
  <!-- CSS resource load -->
  <!-- Library -->
  <link href="../static/lib/css/hinted-NanumSquare.css" rel="stylesheet">
  <link href="../static/lib/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/lib/css/bootstrap-datepicker.standalone.css" rel="stylesheet">
  <link href="../static/lib/css/slick.css" rel="stylesheet">
  <link href="../static/lib/css/reset.css" rel="stylesheet">
  <!-- Custom -->
  <link href="../static/css/cart_rider_vr_style.css" rel="stylesheet">
  <!-- //CSS resource load -->
</head>
<body class="sub">
  <!-- Document -->
  <div class="wrapper">
    <!-- Header -->
    <div class="header-wrap">
      <div class="header">
        <div class="header-top">
          <h1 class="header-logo">
            <a href="#"><img src="../static/images/logo-header.png" alt></a>
          </h1>
          <!-- gnb -->
          <div class="gnb">
            <ul>
              <li><a href="#"><span>서비스소개</span></a>
                <ul>
                  <li><a href="#">카트라이더VR</a></li>
                  <li><a href="#">스토어찾기</a></li>
                </ul>
              </li>
              <li><a href="#"><span>게시판</span></a>
                <ul>
                  <li><a href="#">공지사항</a></li>
                  <li><a href="#">랭킹보기</a></li>
                </ul>
              </li>
              <li><a href="#"><span>마이스토어</span></a>
                <ul>
                  <li><a href="#">스토어관리</a></li>
                  <li><a href="#">상품구매</a></li>
                  <li><a href="#">보유/사용내역</a></li>
                  <li><a href="#">결제관리</a></li>
                  <li><a href="#">운영통계</a></li>
                </ul>
              </li>
              <li><a href="#"><span>고객센터</span></a>
                <ul>
                  <li><a href="#">자주하는 질문</a></li>
                  <li><a href="#">1:1문의하기</a></li>
                  <li><a href="#">내 문의내역</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- //gnb -->
          <div class="gnb-bg">
            <h2 class="gnb-logo">
              <img src="../static/images/logo-gnb.png" alt>
            </h2>
          </div>
        </div>
      </div>
    </div>
    <!-- //Header -->
    <!-- Content -->
    <div class="content-wrap">
      <div class="content">
        <div class="sub-content">
          <!-- Page top -->
          <div class="page-top">
            <h2 class="page-title">스토어 가입 신청</h2>
            <div class="page-navigation">
              <ul>
                <li>홈</li>
                <li>로그인</li>
                <li><strong>가입신청</strong></li>
              </ul>
            </div>
            <div class="page-top-visual" style="background-image:url(../static/images/img-sub-top-visual.png);">
            </div>
          </div>
          <!-- //Page top -->
          <!-- Join step -->
          <div class="join-step">
            <ul>
              <li><i class="icon-join-step-1"></i><span>가입동의</span></li>
              <li><i class="icon-join-step-2"></i><span>본인인증</span></li>
              <li><i class="icon-join-step-3"></i><span>회원정보입력</span></li>
              <li class="on"><i class="icon-join-step-4"></i><span>가입심사</span></li>
            </ul>
          </div>
          <!-- //Join step -->
          <h3 class="text-center"><i class="icon-title"></i>관리자가 가입 심사를 진행 중입니다.<br>승인 처리되면 서비스 이용이 가능 합니다.</h3>
          <!-- 심사결과 -->
          <div class="judging-result">
            <div class="result-value font-dark-blue text-center">신청일 : 2019년 5월 13일</div>
            <p class="result-info text-center">※ 심사기간은 영업일 기준 약 00일 ~ 00일이 소요됩니다.</p>
            <div class="result-message">
              <h4 class="font-dark-blue">심사의견</h4>
              <div class="message">
                <p>회사는 여러분이 회사가 제공하는 다양한 인터넷과 모바일 서비스(넥슨 서비스 등을 의미
                  하며 이하 해당 서비스들을 두 합하여 “통합서비스” 또는 “서비스”라 함)에 더 가깝고 편리
                  하게 다가갈 수 있도록 ‘카카오 통합 서비스약관’(이하 ‘본 약관’)을 마련하였습니다.<br>
                  그래서 앙대요!
                </p>
              </div>
            </div>
          </div>
          <!-- //심사결과 -->
          <div class="page-bottom-btns">
            <button class="btn-dark-blue">메인으로</button>
            <button class="btn-dark-blue">신청정보수정</button>
          </div>
          <!-- Top Button -->
          <button class="btn-top">
            <i></i>
            <span>TOP</span>
          </button>
          <!-- //Top Button -->
        </div>
      </div>
    </div>
    <!-- //Content -->
    <!-- Footer -->
    <div class="footer-wrap">
      <div class="footer">
        <h2 class="footer-logo">
          <img src="../static/images/logo-footer.png" alt>
        </h2>
        <div class="footer-info">
          <div class="footer-menu">
            <ul>
              <li><a href="#">개인정보처리방침</a></li>
              <li><a href="#">서비스이용약관</a></li>
              <li><a href="#">사이트맵</a></li>
            </ul>
          </div>
          <div class="address">서울특별시 강남구 테헤란로 234길 스페이스 빌딩 5층 카트라이더 VR 본사</div>
          <div class="copyright">copyright&copy; All reserved by 카트라이더VR본사</div>
        </div>
      </div>
    </div>
    <!-- //Footer -->
  </div>
  <!-- //Document -->
  <!-- Popup -->
  <!-- //Popup -->
  <!-- JS resource load -->
  <!-- Library -->
  <script src="../static/lib/js/jquery-1.12.4.min.js "></script>
  <script src="../static/lib/js/jquery-ui.js"></script>
  <script src="../static/lib/js/bootstrap.min.js "></script>
  <script src="../static/lib/js/bootstrap-datepicker.js "></script>
  <script src="../static/lib/js/popper.min.js "></script>
  <script src="../static/lib/js/slick.min.js "></script>
  <!-- Custom -->
  <script src="../static/js/cart_rider_vr_script.js "></script>
  <!-- document ready script -->
  <script>
  </script>
  <!-- //document ready script -->
</body>
</html>