/* ********** Common ********** */
body { font-family:'NanumSquare', sans-serif; font-size:13px; overflow-y:auto; min-height:100vh; /* letter-spacing:-0.05em; */ color:#222222; background-color:#eef1f2; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; text-rendering:auto; } 
a { text-decoration:none; color:inherit; } 
a:hover { text-decoration:none; color:inherit; } 
input[type=password] { font-family:sans-serif; } 
::-webkit-input-placeholder { font-family:'NanumSquare', sans-serif; color:#aaaaaa; } 
::-moz-placeholder { font-family:'NanumSquare', sans-serif; color:#aaaaaa; } 
:-ms-input-placeholder { font-family:'NanumSquare', sans-serif; color:#aaaaaa; } 
::-ms-input-placeholder { font-family:'NanumSquare', sans-serif; color:#aaaaaa; } 
::placeholder { font-family:'NanumSquare', sans-serif; color:#aaaaaa; } 
input:not([type=checkbox]):not([type=radio]) { } 
/* button */
.btn-dark-blue { color:#ffffff; border:none; background-color:#1d7ea3; } 
/* font */
.font-dark-blue { color:#1d7ea3 !important; } 
.text-left { text-align:left !important; } 
.text-center { text-align:center !important; } 
.text-right { text-align:right !important; } 
/* ********** Wrapper ********** */
.wrapper { } 
/* ********** Header ********** */
.header-wrap { position:fixed; z-index:9; top:0; left:0; width:100%; height:80px; background-color:#ffffff; } 
.header { position:absolute; z-index:9; left:50%; width:1200px; margin:0 auto; margin-left:-600px; } 
.header .header-top { display:flex; align-items:center; width:1280px; height:80px; margin:0 auto; } 
.header:hover .header-top::before { position:fixed; z-index:3; top:0; left:0; display:block; width:100vw; height:80px; content:''; box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.3); } 
.header .header-top .header-logo { display:flex; flex:1; } 
.header .header-top .header-logo a { display:block; } 
.header .header-top .header-logo a img { display:block; } 
.gnb { flex:0 0 760px; } 
.gnb::after { position:fixed; top:80px; left:0; display:block; width:100%; height:2px; content:''; background-color:#4b5a70; } 
.gnb:hover::after { display:none; } 
.gnb > ul { position:relative; z-index:9; display:flex; align-items:center; } 
.gnb > ul > li { position:relative; display:flex; align-items:center; width:190px; height:80px; } 
.gnb > ul > li > a { font-size:18px; font-weight:bold; position:relative; display:flex; align-items:center; justify-content:center; height:80px; color:#222222; border:5px solid transparent; } 
.gnb > ul > li:hover { } 
.gnb > ul > li:hover > a { font-size:24px; border-bottom-color:#25b7d3; } 
.gnb > ul > li:hover > a::after { position:absolute; top:100%; left:50%; display:block; width:20px; height:20px; margin-top:-10px; margin-left:-10px; content:''; transform:rotate(45deg); border:5px solid transparent; border-right-color:#25b7d3; border-bottom-color:#25b7d3; background-color:#ffffff; } 
.gnb > ul > li > a > span { } 
.gnb > ul > li > ul { position:absolute; top:100%; left:0; overflow:hidden; width:100%; height:0; transition:0.2s all; } 
.gnb:hover > ul > li > ul { height:240px; padding:30px 0; } 
.gnb > ul > li:hover > ul > li { } 
.gnb > ul > li > ul > li a { font-size:16px; color:#8c8c8c; } 
.gnb > ul > li:hover > ul > li a { font-weight:bold; color:#222222; } 
.gnb > ul > li:hover > ul > li a:hover { color:#25b7d3; } 
.gnb > ul > li > ul > li + li { margin-top:20px; } 
.header .header-bottom { } 
.gnb-bg { position:fixed; z-index:1; top:80px; left:0; overflow:hidden; width:100%; height:0; transition:0.2s all; background-color:#ffffff; } 
.gnb:hover + .gnb-bg { overflow:visible; height:240px; border-bottom:2px solid #4b5a70; } 
.gnb-bg .gnb-logo { position:absolute; top:-80px; left:50%; overflow:hidden; margin-left:-600px; transition:0.2s all; background-color:#ffffff; } 
.gnb-bg .gnb-logo img { transition:0.2s all; transform:translateY(80px); } 
.gnb:hover + .gnb-bg .gnb-logo img { transform:translateY(0); } 
.gnb-sub .gnb-logo img { } 
.gnb-sub ul { } 
.gnb-sub ul li { } 
.gnb-sub ul li a { } 
/* ********** Content ********** */
.content-wrap { padding-top:80px; } 
.content { padding-top:35px; } 
/* ========== Main ========== */
.content .main-content { width:1200px; margin:0 auto; } 
.content .main-content .main-row { display:flex; align-items:stretch; } 
.content .main-content .main-row .main-left { position:relative; flex:0 0 730px; max-width:730px; padding:10px; } 
.content .main-content .main-row .main-left .main-visual { position:relative; z-index:1; width:100%; height:206px; } 
.content .main-content .main-row .main-left .main-visual .visual-slides { } 
.content .main-content .main-row .main-left .main-visual .visual-slides .slide { height:206px; background-repeat:no-repeat; background-position:center; background-size:cover; } 
.content .main-content .main-row .main-left .main-visual .visual-slides .slide a { } 
.content .main-content .main-row .main-left .main-visual .slick-arrow { font-size:0; position:absolute; z-index:9; display:flex; overflow:hidden; align-items:center; justify-content:center; width:50px; height:50px; transition:0.2s all; opacity:0.5; border:1px solid #000000; background-color:#26b6ff; } 
.content .main-content .main-row .main-left .main-visual .slick-arrow::before { display:inline-block; width:18px; height:18px; content:''; } 
.content .main-content .main-row .main-left .main-visual .slick-arrow:hover { opacity:1; } 
.content .main-content .main-row .main-left .main-visual .slick-arrow.slick-prev { top:0; left:0; } 
.content .main-content .main-row .main-left .main-visual .slick-arrow.slick-prev::before { margin-left:6px; transform:rotate(-45deg); border-top:5px solid #ffffff; border-left:5px solid #ffffff; } 
.content .main-content .main-row .main-left .main-visual .slick-arrow.slick-next { top:0; left:50px; } 
.content .main-content .main-row .main-left .main-visual .slick-arrow.slick-next::before { margin-right:6px; transform:rotate(45deg); border-top:5px solid #ffffff; border-right:5px solid #ffffff; } 
.content .main-content .main-row .main-right { flex:0 0 470px; max-width:470px; padding:9px; } 
.login-box { display:flex; flex-direction:column; height:100%; } 
.login-box .login-form { position:relative; display:flex; align-items:stretch; flex-wrap:wrap; width:100%; min-width:452px; } 
.login-box .login-form .form-title { font-size:16px; font-weight:bold; flex:0 0 100%; margin-bottom:15px; color:#1d7ea3; } 
.login-box .login-form .form-set { flex:0 0 322px; } 
.login-box .login-form .form-set label { display:block; } 
.login-box .login-form .form-set label + label { margin-top:-1px; } 
.login-box .login-form .form-set label input { font-size:16px; display:block; width:100%; height:50px; padding:0 26px; border:1px solid #dcdcdc; } 
.login-box .login-form .btn-login { font-size:18px; font-weight:bold; align-self:stretch; flex:initial; width:120px; height:99px; margin-left:10px; color:#ffffff; border:none; background-color:#1d7ea3; } 
.login-box .login-menu { flex:1; margin-top:20px; } 
.login-box .login-menu ul { display:flex; align-items:center; justify-content:flex-end; } 
.login-box .login-menu ul li { } 
.login-box .login-menu ul li + li { border-left:1px solid #bcbcbc; } 
.login-box .login-menu ul li a { font-size:13px; padding:0 10px; } 
.login-box .login-menu ul li a:hover { color:#26b6ff; } 
.login-info { display:flex; flex-direction:column; height:100%; } 
.login-info .info-box { display:flex; align-items:flex-start; width:100%; padding:10px; border:1px solid #dcdcdc; background-color:#ffffff; } 
.login-info .info-box .info-text { display:flex; flex:1; flex-direction:column; height:100%; padding:10px; } 
.login-info .info-box .info-text .login-name { font-size:13px; flex:initial; } 
.login-info .info-box .info-text .login-name strong { font-size:20px; font-weight:bold; margin-right:0.25em; } 
.login-info .info-box .info-text .login-name strong .font-dark-blue { } 
.login-info .info-box .info-text .info-data { margin-top:auto; } 
.login-info .info-box .info-text .info-data dl { font-size:13px; display:flex; align-items:center; flex-direction:row; } 
.login-info .info-box .info-text .info-data dl + dl { margin-top:10px; } 
.login-info .info-box .info-text .info-data dl dt { flex:0 0 50px; } 
.login-info .info-box .info-text .info-data dl dd { display:flex; align-items:center; } 
.login-info .info-box .info-text .info-data dl dd a { font-size:16px; font-weight:bold; border-bottom:1px solid #222222; } 
.login-info .info-box .info-text .info-data dl dd .btn-buy { margin-left:40px; } 
.login-info .info-box .info-text .info-data dl dd .font-dark-blue { } 
.login-info .info-box .profile-img { flex:0 0 120px; } 
.login-info .info-box .profile-img .pic { width:100%; height:88px; background-repeat:no-repeat; background-position:center; background-size:cover; } 
.login-info .info-box .profile-img .btn-logout { font-size:13px; width:100%; height:25px; margin-top:10px; } 
.ip-info { font-size:16px; display:flex; align-items:center; flex:initial; margin-top:auto; padding:0 25px; color:#ffffff; background-color:#bcbcbc; } 
.ip-info dl { display:flex; align-items:center; flex:1; height:42px; } 
.ip-info dl dt { margin-right:10px; } 
.ip-info dl dd { } 
.ip-info a { font-size:13px; flex:initial; border-bottom:1px solid #ffffff; } 
.content .main-content .main-row { display:flex; } 
.content .main-content .main-row .main-boxs { display:flex; flex-wrap:wrap; margin-top:-10px; margin-right:-10px; margin-bottom:-10px; margin-left:-10px; } 
.content .main-content .main-row .main-boxs .main-box { padding:10px; } 
.content .main-content .main-row .main-boxs .main-box a { display:flex; align-items:center; flex-direction:column; justify-content:flex-start; height:206px; padding:35px; border:1px solid #dcdcdc; background-color:#ffffff; } 
.content .main-content .main-row .main-boxs .main-box a h3 { font-size:22px; font-weight:bold; } 
.content .main-content .main-row .main-boxs .main-box a:hover h3 { color:#1d7ea3; } 
.content .main-content .main-row .main-boxs .main-box a i { margin-top:20px; } 
.content .main-content .main-row .main-boxs .main-box a i img { display:block; margin:0 auto; transition:0.2s all; } 
.content .main-content .main-row .main-boxs .main-box a:hover i img { transform:scale(1.1); transform-origin:center; } 
.content .main-content .main-row .main-boxs .main-box.blue-box .cs-center { display:flex; align-items:flex-start; flex-direction:column; justify-content:center; height:100%; padding:55px; color:#ffffff; background-color:#25b7d3; } 
.content .main-content .main-row .main-boxs .main-box.blue-box .cs-center h3 { font-size:30px; font-weight:bold; margin-bottom:20px; } 
.content .main-content .main-row .main-boxs .main-box.blue-box .cs-center h3 em { margin-left:20px; } 
.content .main-content .main-row .main-boxs .main-box.blue-box .cs-center dl { font-size:16px; display:flex; flex-direction:row; width:100%; } 
.content .main-content .main-row .main-boxs .main-box.blue-box .cs-center dl + dl { margin-top:10px; } 
.content .main-content .main-row .main-boxs .main-box.blue-box .cs-center dl dt { display:flex; align-items:center; flex:0 0 120px; } 
.content .main-content .main-row .main-boxs .main-box.blue-box .cs-center dl dt::before { display:inline-block; width:4px; height:4px; margin-right:10px; content:''; background-color:#ffffff; } 
.content .main-content .main-row .main-boxs .main-box.blue-box .cs-center dl dd { } 
.content .main-content .main-row .total-ranking { display:flex; flex-direction:column; height:100%; border:1px solid #bcbcbc; } 
.content .main-content .main-row .total-ranking h3 { font-size:20px; font-weight:bold; display:flex; align-items:center; justify-content:center; height:50px; color:#ffffff; background:#2f3e54 url(../images/ptn-main-total-rank.png) no-repeat left top; } 
.content .main-content .main-row .total-ranking .control-box { display:flex; align-items:center; flex:initial; justify-content:center; height:50px; padding:0 20px; background-color:#e6ecf1; } 
.content .main-content .main-row .total-ranking .control-box button { position:relative; width:50px; height:50px; border:none; background:transparent; } 
.content .main-content .main-row .total-ranking .control-box button::before { display:block; width:15px; height:15px; margin:0 auto; content:''; } 
.content .main-content .main-row .total-ranking .control-box .btn-prev { } 
.content .main-content .main-row .total-ranking .control-box .btn-prev::before { transform:rotate(-45deg); border-top:5px solid #bcbcc4; border-left:5px solid #bcbcc4; } 
.content .main-content .main-row .total-ranking .control-box h4 { font-size:13px; font-weight:bold; flex:1; text-align:center; } 
.content .main-content .main-row .total-ranking .control-box .btn-next { } 
.content .main-content .main-row .total-ranking .control-box .btn-next::before { transform:rotate(45deg); border-top:5px solid #bcbcc4; border-right:5px solid #bcbcc4; } 
.content .main-content .main-row .total-ranking ul { display:flex; flex:1; flex-direction:column; padding:0 20px; background-color:#ffffff; } 
.content .main-content .main-row .total-ranking ul li { font-size:12px; display:flex; align-items:center; flex:1; justify-content:space-between; } 
.content .main-content .main-row .total-ranking ul li + li { border-top:1px solid #e3e3e3; } 
.content .main-content .main-row .total-ranking ul li .rank { font-weight:bold; flex:0 0 75px; text-align:center; color:#ff5400; } 
.content .main-content .main-row .total-ranking ul li .rank img { display:block; margin:0 auto; } 
.content .main-content .main-row .total-ranking ul li .id { flex:1; text-align:center; } 
.content .main-content .main-row .total-ranking ul li .time { font-weight:bold; flex:0 0 100px; text-align:center; color:#ff5400; } 
/* ========== Sub ========== */
/* Sub Common */
body.sub { background-color:#ffffff; } 
body.sub .content { padding-top:40px; padding-bottom:50px; } 
.sub-content { width:1000px; margin:0 auto; } 
.sub-content h3 { font-size:18px; font-weight:bold; line-height:30px; margin-top:40px; } 
.sub-content h3 + p { margin-top:20px; } 
.page-top { display:flex; align-items:flex-end; flex-wrap:wrap; margin-bottom:40px; } 
.page-top .page-title { font-size:36px; font-weight:bold; flex:1; } 
.page-top .page-navigation { flex:initial; } 
.page-top .page-navigation ul { display:flex; justify-content:flex-end; } 
.page-top .page-navigation ul li { font-size:13px; display:flex; } 
.page-top .page-navigation ul li strong { font-weight:bold; } 
.page-top .page-navigation ul li + li { margin-left:5px; } 
.page-top .page-navigation ul li + li::before { margin-right:5px; content:'>'; } 
.page-top .page-top-visual { flex:0 0 100%; height:160px; margin-top:20px; background-repeat:no-repeat; background-position:center; background-size:cover; } 
.page-top + * { margin-top:40px; } 
.page-bottom-btns { display:flex; align-items:center; justify-content:center; max-width:510px; margin:20px auto; } 
p + .page-bottom-btns { margin-top:40px; } 
.page-bottom-btns button { font-size:20px; font-weight:bold; flex:1; max-width:340px; height:60px; } 
.page-bottom-btns button + button { margin-left:20px; } 
i.icon-title { display:inline-block; width:17px; height:16px; margin-right:5px; vertical-align:middle; background:url(../images/icon-title.png) no-repeat center center; } 
.btn-top { position:fixed; bottom:90px; left:50%; display:flex; align-items:center; flex-direction:column; justify-content:center; width:60px; height:60px; margin-left:600px; padding:0; border:none; background:none; } 
.btn-top i { display:block; width:20px; height:20px; margin:0 auto; transform:rotate(45deg); border-top:3px solid #1d7ea3; border-left:3px solid #1d7ea3; } 
.btn-top span { font-size:16px; font-weight:bold; } 
/* Join */
.join-step { text-align:center; } 
.join-step ul { display:inline-flex; margin:0 auto; background-color:#f9f9f9; } 
.join-step ul li { position:relative; display:flex; align-items:center; flex-direction:column; justify-content:center; width:155px; height:105px; border:1px solid #dcdcdc; } 
.join-step ul li + li { border-left:none; } 
.join-step ul li + li::before { position:absolute; top:50%; left:0; display:block; width:15px; height:15px; margin-top:-7.5px; margin-left:-7.5px; content:''; transform:rotate(45deg); border-top:1px solid #dcdcdc; border-right:1px solid #dcdcdc; background-color:#f9f9f9; } 
.join-step ul li.on,
.join-step ul li.on + li::before { background-color:#e9f9ff; } 
.join-step ul li i { display:block; width:60px; height:45px; margin:0 auto 10px; } 
.join-step ul li .icon-join-step-1 { background:url(../images/icon-join-step-1.png) no-repeat center; } 
.join-step ul li .icon-join-step-2 { background:url(../images/icon-join-step-2.png) no-repeat center; } 
.join-step ul li .icon-join-step-3 { background:url(../images/icon-join-step-3.png) no-repeat center; } 
.join-step ul li .icon-join-step-4 { background:url(../images/icon-join-step-4.png) no-repeat center; } 
.join-step ul li.on .icon-join-step-1 { background-image:url(../images/icon-join-step-1-on.png); } 
.join-step ul li.on .icon-join-step-2 { background-image:url(../images/icon-join-step-2-on.png); } 
.join-step ul li.on .icon-join-step-3 { background-image:url(../images/icon-join-step-3-on.png); } 
.join-step ul li.on .icon-join-step-4 { background-image:url(../images/icon-join-step-4-on.png); } 
.join-step ul li span { font-size:16px; font-weight:800; color:#838383; } 
.join-step ul li.on span { color:#1d7ea3; } 
.agree-area { margin-top:40px; } 
.agree-area h3 { font-size:18px; font-weight:800; } 
.agree-area h3 .icon-title { } 
.agree-area h3 span { } 
.agree-area .agree-box { margin-top:20px; } 
.agree-area .agree-box + h3 { margin-top:40px; } 
.agree-area .agree-box .agree-frame { font-size:13px; line-height:20px; overflow-y:auto; height:200px; padding:20px; border:1px solid #dcdcdc; } 
.agree-area .agree-box .agree-frame strong { font-weight:bold; } 
.agree-area .agree-box .agree-frame p { } 
.agree-form { margin-top:20px; text-align:right; } 
.agree-form .input-wrap { } 
.agree-form .input-wrap label { position:relative; display:inline-flex; align-items:center; justify-content:flex-end; } 
.agree-form .input-wrap label input[type=checkbox] { position:absolute; width:0; height:0; margin-right:5px; vertical-align:middle; opacity:0; -webkit-appearance:none; appearance:none; } 
.agree-form .input-wrap label input[type=checkbox] + span { font-size:13px; font-weight:bold; display:flex; align-items:center; color:#ccd1d2; } 
.agree-form .input-wrap label input[type=checkbox] + span::before { display:block; width:14px; height:14px; margin-right:5px; content:''; border-radius:50%; background:#e0e0e0 url(../images/icon-check.png) no-repeat center center; } 
.agree-form .input-wrap label input[type=checkbox]:checked + span { color:#222222; } 
.agree-form .input-wrap label input[type=checkbox]:checked + span::before { background-color:#1d7ea3; } 
.agree-area .agree-all { margin-top:40px; } 
/* 본인인증 */
.auth-form { margin-bottom:40px; } 
.join-step + .auth-form { margin-top:40px; } 
.auth-form .form-title { font-size:18px; font-weight:bold; line-height:30px; margin-bottom:40px; } 
.auth-form .form-title .icon-title { } 
.auth-form .form-title span { } 
.auth-form .form-title span br { } 
.auth-form dl { display:flex; align-items:center; width:360px; margin:0 auto; } 
.auth-form dl + dl { margin-top:20px; } 
.auth-form dl dt { font-size:16px; font-weight:bold; flex:0 0 80px; } 
.auth-form dl dd { flex:1; } 
.auth-form dl dd .input-group { display:flex; align-items:center; width:100%; } 
.auth-form dl dd .input-group span.dash { flex:initial; padding:0 5px; } 
.auth-form dl dd .input-group .input-wrap { flex:1; } 
.auth-form dl dd .input-group .input-wrap input,
.auth-form dl dd .input-group .input-wrap select { font-size:16px; display:block; width:100%; height:35px; padding-left:16px; border:1px solid #dcdcdc; } 
.auth-form dl dd .input-group .input-wrap #userName { } 
/* join form */
.join-form { } 
.join-step + .join-form { margin-top:40px; } 
.join-form .join-title { font-size:18px; font-weight:bold; } 
.join-form .join-title .icon-title { } 
.join-form .join-title .font-dark-blue { } 
.join-form .data-form-table { } 
.join-form .join-title + .data-form-table { margin-top:30px; } 
.join-form .data-form-table + .join-title { margin-top:40px; } 
.join-form .data-form-table .data-fotm-table-header { } 
.join-form .data-form-table .data-fotm-table-header .header-note { margin-bottom:20px; } 
.join-form .data-form-table .data-fotm-table-header .header-note .font-dark-blue { } 
.join-form .data-form-table .data-form-table-body { border-top:1px solid #4b5a70; border-bottom:1px solid #4b5a70; } 
.join-form .data-form-table .data-form-table-body table { width:100%; } 
.join-form .data-form-table .data-form-table-body table tbody { } 
.join-form .data-form-table .data-form-table-body table tbody tr { } 
.join-form .data-form-table .data-form-table-body table tbody tr th { font-weight:800; width:230px; height:45px; padding:5px 15px; vertical-align:middle; border-top:1px solid #dcdcdc; background-color:#e6ecf1; } 
.join-form .data-form-table .data-form-table-body table tbody tr th span { } 
.join-form .data-form-table .required { font-size:13px; font-weight:bold; display:inline-block; vertical-align:top; } 
.join-form .data-form-table .data-form-table-body table tbody tr th .font-dark-blue { } 
.join-form .data-form-table .data-form-table-body table tbody tr td { padding:5px 15px; vertical-align:middle; border-top:1px solid #ededed; } 
.join-form .data-form-table .data-form-table-body table tbody tr td .input-group { display:inline-flex; align-items:center; width:390px; } 
.join-form .data-form-table .data-form-table-body table tbody tr td .input-group.block { width:100%; } 
.join-form .data-form-table .data-form-table-body table tbody tr td .input-group .input-wrap { flex:1; } 
.join-form .data-form-table .data-form-table-body table tbody tr td .input-group span.dash,
.join-form .data-form-table .data-form-table-body table tbody tr td .input-group span.unit { flex:initial; padding:0 5px; } 
.join-form .data-form-table .data-form-table-body table tbody tr td .input-group .input-wrap input:not([type=checkbox]):not([type=radio]),
.join-form .data-form-table .data-form-table-body table tbody tr td .input-group .input-wrap select { width:100%; height:25px; padding-left:10px; border:1px solid #dcdcdc; } 
.join-form .data-form-table .data-form-table-body table tbody tr td .input-group .input-wrap input[type=file] { position:absolute; width:0; height:0; opacity:0; } 
.join-form .data-form-table .data-form-table-body table tbody tr td .input-group button { font-size:13px; font-weight:bold; flex:initial; height:25px; padding:0 10px; color:#1d7ea3; border:1px solid #dcdcdc; border-radius:3px; background-color:#f9f9f9; } 
.join-form .data-form-table .data-form-table-body table tbody tr td .input-group .input-wrap + .input-wrap,
.join-form .data-form-table .data-form-table-body table tbody tr td .input-group button { margin-left:5px; } 
.join-form .data-form-table .data-form-table-body table tbody tr td .input-group + .input-group.block,
.join-form .data-form-table .data-form-table-body table tbody tr td .input-info + .input-group.block,
.join-form .data-form-table .data-form-table-body table tbody tr td .input-error + .input-group.block { margin-top:5px; } 
.join-form .data-form-table .data-form-table-body table tbody tr td .input-note { display:inline-block; margin-left:20px; } 
.join-form .data-form-table .data-form-table-body table tbody tr td .input-error { display:flex; align-items:center; width:100%; margin-top:5px; color:#ff0000; } 
.join-form .data-form-table .data-form-table-body table tbody tr td .input-error .icon-error { display:block; width:14px; height:14px; margin-right:5px; background:url(../images/icon-error.png) no-repeat center; } 
.join-form + .page-bottom-btns { margin-top:40px; } 
/* 심사결과 */
.judging-result { margin-top:40px; } 
.judging-result .result-value { font-size:20px; font-weight:800; } 
.judging-result .result-info { margin-top:20px; } 
.judging-result .result-message { width:570px; margin:40px auto; } 
.judging-result .result-message h4 { font-size:18px; font-weight:bold; margin-bottom:20px; } 
.judging-result .result-message .message { line-height:2em; overflow-y:auto; height:200px; padding:20px; border:1px solid #bcbcbc; } 
/* 고객센터 정보 */
.cs-center-info-box { display:flex; width:570px; margin:40px auto; padding:10px 0; text-align:center; border:1px solid #bcbcbc; } 
.cs-center-info-box .box { flex:1; padding:20px; } 
.cs-center-info-box .box + .box { border-left:1px solid #bcbcbc; } 
.cs-center-info-box .box h4 { font-size:18px; font-weight:bold; margin-bottom:25px; color:#1d7ea3; } 
.cs-center-info-box .box dl { line-height:2em; display:flex; width:200px; margin:0 auto; } 
.cs-center-info-box .box dl dt { font-weight:bold; flex:0 0 70px; text-align:left; } 
.cs-center-info-box .box dl dd { font-weight:800; text-align:right; } 
.cs-center-info-box .box dl dd p { font-weight:normal; } 
/* 아이디찾기결과 */
.result-box { width:570px; margin:40px auto; padding:30px; border:1px solid #dcdcdc; } 
.result-box h4 { font-weight:bold; margin-bottom:30px; } 
.result-box dl { display:inline-flex; align-items:center; margin-bottom:30px; } 
.result-box dl dt { margin-right:10px; } 
.result-box dl dd { font-size:20px; font-weight:bold; } 
/* 비밀번호찾기 */
.input-box { width:530px; margin:40px auto; padding:10px 10px 10px 0; border:1px solid #dccdcd; } 
.input-box .input-wrap { display:flex; align-items:center; padding:10px 10px 10px 0; } 
.input-box .input-wrap label { font-size:16px; font-weight:bold; flex:0 0 140px; text-align:center; } 
.input-box .input-wrap input { font-size:16px; flex:1; height:35px; padding:0 15px; border:none; background-color:#e6ecf1; } 
/* .input-box .input-wrap + .input-wrap { margin-top:20px; } */
/* 스토어찾기 */
.find-store { } 
.find-store .search-form { margin-bottom:30px; } 
/* ********** Footer ********** */
.footer-wrap { margin-top:30px; } 
.footer { display:flex; align-items:center; width:1200px; margin:0 auto; padding:30px 0; color:#333333; border-top:2px solid #4b5a70; } 
.footer .footer-logo { flex:initial; margin-right:50px; } 
.footer .footer-logo img { } 
.footer .footer-info { flex:1; } 
.footer .footer-info .footer-menu { } 
.footer .footer-info .footer-menu ul { display:flex; align-items:center; } 
.footer .footer-info .footer-menu ul li { margin-right:30px; } 
.footer .footer-info .footer-menu ul li + li { padding-left:30px; border-left:1px solid #bcbcbc; } 
.footer .footer-info .footer-menu ul li a { font-size:13px; font-weight:bold; } 
.footer .footer-info .footer-menu ul li a:hover { color:#1d7ea3; } 
.footer .footer-info .address { font-size:13px; font-weight:bold; margin-top:25px; } 
.footer .footer-info .copyright { font-size:13px; font-weight:bold; margin-top:10px; } 
/* ********** Modal ********** */
.modal { font-size:0; padding:0; text-align:center; } 
.modal-backdrop { background-color:rgba(0, 0, 0, 0.5); } 
.modal::before { display:inline-block; width:0; height:100%; content:''; text-align:center; vertical-align:middle; } 
.modal-dialog { font-size:13px; display:inline-block; max-width:570px; text-align:left; } 
.modal-dialog.narrow { max-width:430px; } 
.modal-dialog.big { max-width:560px; } 
.modal-dialog.wide { max-width:560px; } 
.modal-content { position:relative; padding:30px; border-radius:0; background-color:rgb(255, 255, 255); box-shadow:0 0 7px 0 rgba(4, 0, 0, 0.35); } 
.modal-header { padding:20px; text-align:left; border:none; } 
.modal-header .modal-logo { width:100%; text-align:center; } 
.modal-header .modal-logo img { display:block; margin:0 auto; } 
.modal-body { padding:20px; } 
.modal-body .modal-message { font-size:20px; font-weight:bold; line-height:1.5em; text-align:center; } 
.modal-body .modal-message + .modal-message { margin-top:15px; } 
.modal-header + .modal-body { padding-top:0; } 
.modal-footer { display:flex; justify-content:center; border-top:none; } 
.modal-footer button { font-size:18px; width:200px; height:50px; } 
.modal .close { position:absolute; top:20px; right:20px; overflow:hidden; width:22px; height:22px; margin:0; padding:0; } 
.modal .close::before,
.modal .close::after { position:absolute; top:50%; left:50%; display:block; width:30px; height:2px; margin-top:-1px; margin-left:-15px; content:''; background-color:#222222; } 
.modal .close::before { transform:rotate(45deg); } 
.modal .close::after { transform:rotate(-45deg); }